{% extends 'base.html.twig' %}

{% block title %}Créer un nouveau compte{% endblock %}

{% block main %}
    <h1>Créer un nouveau compte</h1>

    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.balance) }}
        <button type="submit" class="btn btn-primary">Créer</button>
    {{ form_end(form) }}
{% endblock %}