{# home/dashboard.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/home/dashboard.css') }}">
{% endblock %}

{% block javascripts %}
{% endblock %}

{% block main %}
<main style="margin-inline: 2rem; margin-block: 2rem;">
    <h2>Vous revoila {{ user.firstName }}!</h2>
    <p>Bienvenue sur votre tableau de bord.</p>

    <div id="total-balance-card">
        <h3>Solde Total</h3>
        <p id="totalBalance">{{ totalBalance|number_format(2, '.', ',') }} €</p>
    </div>

</main>
{% endblock %}
