{# home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/home/index.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock %}

{% block main %}
<main id="accueil">
    <div class="content">
        <h1>Sécurisez vos futures finances avec VaulPay</h1>
        <h2>Une expérience bancaire fluide, des économies intelligentes et une gestion de l'argent sans effort, le tout en un seul endroit.</h2>

        <div class="cta-buttons">
            <a href="{{ path('app_login') }}" class="btn-login">
                <i class="fas fa-sign-in-alt"></i> Connexion
            </a>
            <a href="{{ path('app_register') }}" class="btn-signup">
                <i class="fa fa-user-plus"></i> Inscription
            </a>
        </div>
    </div>
</main>
{% endblock %}
