{# home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('styles/home/index.css') }}">
{% endblock %}

{% block main %}
<main>
    <h1>Hello!</h1>
</main>
{% endblock %}
