{% extends 'base.html.twig' %}

{% block title %}epargne{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('/styles/epargne.css') }}">
{% endblock %}

{% block main %}
    <section class="hero">
        <div class="hero-content">
            <h1>Bienvenue sur votre application bancaire</h1>
            <p>
                Découvrez nos offres de livret d'épargne dès maintenant<br>
                
            </p>
            <a href="{{ path('app_epargne_souscrire') }}" class="btn">SOUSCRIRE</a>
        </div>
    </section>
{% endblock %}
