{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block main %}
<div class="user-list">
    <h2>List of Users</h2>
    <ul>
        {% for user in users %}
            <li>{{ user.firstname }} - {{ user.email }}</li>
        {% endfor %}
    </ul>
</div>

{% endblock %}