/* public/assets/styles/epargne.css */

/* Réinitialisation des marges et padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    background-color: #f2f2f2;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    font-size: 24px;
    font-weight: bold;
    color: #1a73e8;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #1a73e8;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover {
    text-decoration: underline;
}

/* Section Hero */
.hero {
    height: 90vh;
    background: linear-gradient(to right, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.6)),
        url("../images/homepage_vault.png") no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 100px;
}




.hero-content {
    max-width: 500px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-left: 3px solid #1a73e8;
}

.hero-content h1 {
    color: #1a73e8;
    font-size: 32px;
    margin-bottom: 20px;
}

.hero-content p {
    color: #333;
    line-height: 1.6;
    margin-bottom: 20px;
}

.btn {
    background-color: #1a73e8;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.btn:hover {
    background-color: #1558b0;
}