footer {
    background-color: var(--background-secondary);
    color: var(--secondary-text);
    padding: 2vh 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2vh;
}