body {
  margin: 0;
  padding: 0;
  background: linear-gradient(
    155deg,
    #edf1ff,
    #5100c3
  ); /* Dégradé bleu-violet */
  font-family: Arial, sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh !important;
}
main {
  width: 100%;
  height: 75vh;
}
main h1 {
  text-align: center;
  margin-top: 20px;
}

.success {
  background-color: #d4edda;
  color: #155724;
}

.error {
  background-color: #f8d7da;
  color: #721c24;
}

/* Styles généraux pour le formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

/* Mise en forme des champs de saisie */
.input-field {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
}

/* Mise en forme des labels */
label {
  color: #6c757d; /* Gris clair */
  font-size: 14px;
  margin-bottom: 0 !important;
  margin-top: 10px;
}

/* Mise en forme du bouton de soumission */
.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Effet sur les champs de saisie (lorsqu'on tape) */
.input-field:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Espacement et alignement */
form .form-row {
  display: flex;
  flex-direction: column;
}

/* Style du bouton de soumission */
button[type="submit"] {
  width: 100%;
  padding: 10px;
  margin: 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #006bdd;
}

/* Alignement du bouton "Effectuer le virement" sur la même ligne que le dernier champ */
.form-row:last-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button[type="submit"] {
  width: auto;
  margin-left: 15px;
}
