main {
    min-height: 70vh;
    margin-top: 10vh;
    width: 50%;
    margin-inline: auto;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}