<footer>
  <div class="footer-container">
    <div class="footer-columns">
      <div class="column columnLogo">
        <h3>VAULTPAY</h3>
        <img src="{{ asset('images/VaultpayLogo.png') }}" alt="Logo" />
      </div>
      <div class="column">
        <h3>À propos</h3>
        <ul>
          <li><a href="#">Notre histoire</a></li>
          <li><a href="#">Carrières</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>
      <div class="column">
        <h3>Services</h3>
        <ul>
          <li><a href="#">Consultation</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">Formations</a></li>
        </ul>
      </div>
      <div class="column">
        <h3>Contact</h3>
        <ul>
          <li><a href="#">Email</a></li>
          <li><a href="#">Téléphone</a></li>
          <li><a href="#">Réseaux sociaux</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
