main {
    width: 80%;
    margin-inline: auto !important;
}

#total-balance-card {
    background-color: white;
    border: 1px solid hsl(240 5.9% 90%);
    border-radius: 0.5rem;
    padding: 1rem;
}

#totalBalance {
    font-size: 1.875rem;
    line-height: 2.25rem;
    font-weight: 700;
}

#total-balance-card h3 {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.25rem;
    letter-spacing: -0.025em;
}